/* Détacher l'avatar de la barre de navigation */
.navbar .avatar-container {
  position: absolute;
  top: 110%;  /* le met juste en-dessous de la navbar */
  left: 18%;
  height: auto !important;
  width: 200px !important;
  transform: translateX(-50%);
  margin-top: 0px;  /* espace entre barre et avatar */
}

/* Taille du contour (optionnel, s’il y en a) */
.avatar-img-border {
  width: 100px; !important;
  height: auto; !important;
  margin: 0;
  padding: 0;
  border-radius: 50%; !important;
}


.avatar-img {
  width: 100px; !important;
  height: auto; !important;
}

/* S'applique à tous les titres générés via `title:` du front matter */
.page-heading {
  padding-top: 2em;   /* décale le bloc titre vers le bas */
}

.page-heading h1 {
  font-size: 20pt;   /* optionnel : réduire un peu la taille */
  margin-bottom: 0.5em; /* espace après le titre si besoin */
}

  font-size: 1em;  /* optionnel : réduit un peu la taille */
}
